.button {
  padding: 10px 12px;
  font-size: 14px;
  line-height: 1;
  color: white;
  background: black;
  border: none;
  border-radius: 6px;
  box-shadow: 0.125rem 0.125rem 0.5rem 0.25rem rgba(0, 0, 0, 0.05);
  appearance: none;
}
