@use '../abstracts' as *;

.header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  height: $height-top-navigation * 1px;
  padding: 0 1rem;
  background: $color-background;
  box-shadow: 0.125rem 0.125rem 0.5rem 0.25rem rgba(0, 0, 0, 0.05);

  @media screen and (min-width: 768px) {
    padding: 0 2rem;
  }
}

.inner-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
