$color-white: '#ffffff';
$color-primary: '#161d6f';
$color-background: '#f6f6f6';

$font-family-primary: 'Noto Sans KR', sans-serif;

$letter-spacing-primary: 0.02em;

$height-top-navigation: 60;

$width-page-max-width: 1200px;
