@use './abstracts' as *;

html {
  font-family: $font-family-primary;
  letter-spacing: $letter-spacing-primary;
}

body {
  margin: 0 16px;
  background-color: $color-background;

  @media screen and (min-width: 768px) {
    margin: 0 32px;
  }
}

main {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 100px;
}

button {
  font-family: $font-family-primary;
}

button,
input[type='file'] {
  cursor: pointer;
}
