.root {
  display: grid;
  align-items: center;
  grid-template-columns: 75px 1fr 200px;
  column-gap: 16px;
  padding: 20px;
  max-width: 700px;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  list-style: none;

  & + & {
    margin-top: 16px;
  }
}
